# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env/
.env.*

# Django
db.sqlite3
staticfiles/
media/

# Django migrations cache
**/migrations/*.pyc

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Heroku
.env